@import "tailwindcss";

:root {
  --background: #000000; /* Czarny */
  --text-color: #ffffff; /* Biały */
  --font-sans: "Lato", sans-serif;
  --font-serif: "Zilla Slab", serif;
}

html, body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--font-sans);
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;

  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

/* Dodatkowe klasy Tailwind */
.container {
  @apply max-w-screen-xl w-full mx-auto px-4;
}
